* {
	box-sizing: border-box;
}
body {
	background-color:#f2f2f2;
	margin:0;
	padding:0;
}
h1 {
	font-size:50px;
	color:red;
	padding:30px;
	background-color:#262626;
	text-align:center;
}
h1:hover {
	color:#262626;
	background-color:red;
	transition-duration: 0.5s;
}
p {
	font-size:20px;
	color:green;
	padding:0;
	margin:0;
	max-width:200px;
}
div {
	width:100%;
	padding:25px;
	margin:0;
}
.head {
	background-color:#262626;
	margin:0;
	display:flex;
	justify-content: space-around;
	padding:20px 200px;
}
.content {
	background-color:#262626;
	width:80%;
	margin:50px auto;
}
.head a {
	color:#f2f2f2;
	padding:10px;
	font-size:24px;
	text-decoration: none;
}
img {
	width:100%;
	border:1px solid red;
}