* {
	box-sizing: border-box;
}
body {
	background-color:#f2f2f2;
	margin:0;
	padding:0;
	background-color: #262626;
}
h1 {
	font-size:50px;
	color:#fff;
	padding:30px;
	background-color:#262626;
	text-align:center;
}
/*	color:#262626;
	background-color:#fff;
	transition-duration: 0.5s;
}*/
p {
	font-size:20px;
	color:#fff;
	padding:0;
	margin:0;
	max-width:200px;
}
table{
	color:#fff;
	font-size:20px;
	margin:auto;
	display:block;
	align-self: center;
}
th, td {
	border-top:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
	text-align:left;
	padding:8px 13px 2px 8px;
}
th {font-size:25px;}
th:nth-child(1) {
	border-left:1px solid #f2f2f2;
}
td:nth-child(1) {
	border-left:1px solid #f2f2f2;
	width:400px;
}
td:nth-child(2) {
	width:800px;
}
.border-bottom {
	border-bottom:1px solid #f2f2f2;
}
div {
	width:100%;
	padding:25px;
	margin:0;
}
.table-box {
	width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.head {
	background-color: #a80303;
	float: left;
	position: fixed;
	height: 100%;
	width: 300px;
	top: 0;
	left:0;
	box-sizing: border-box;
	transition: left .5s;
}

.head.closed {

	background-color: #a80303;
	float: left;
	position: fixed;
	height: 100%;
	width: 300px;
	top: 0;
	left:-300px;
	box-sizing: border-box;
}

.content {

width: 100%;
box-sizing: border-box;
margin: 0 0px 0 0px;
padding: 0 50px 100px 350px;
color: #fff;
transition: padding .5s;

}

.content.closed {
	background-color: #262626;
width: 100%;
box-sizing: border-box;
margin: 0 0px 0 0px;
padding: 0px 100px 100px 100px;
color: #fff;
}
.head a {
	color: #f2f2f2;
	padding: 10px;
	font-size: 24px;
	text-decoration: none;
	width: 100%;
	display: block;
}
img {
	width:100%;
	border:1px solid red;
}

.menubtn{
	width: 40px;
    position: absolute;
    right: 40px;
	cursor:pointer;
border:none;}

	.menubtn.open{
		width: 40px;
	    position: absolute;
	    left: 40px;
			    top: 22px;
		cursor:pointer;}
